<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/imgs/hero.webp" class="d-block w-100" alt="imagens de varias personas">
          <div class="carousel-caption">
              <h1 >Laboratorio IberoSoftware</h1>
              <p >Explora, crea y aprende con nuestras experiencias prácticas en tecnología</p>
              <a href="#" class="btn btn-outline-light btn-lg rounded border-white">Descubre los Laboratorios →</a>
          </div>
        </div>
    <div class="carousel-item">
      <img src="/assets/imgs/hero2.png" class="d-block w-100" alt="imagens de varias personas">
          <div class="carousel-caption">
             <h1 >Laboratorio IberoSoftware</h1>
              <p >Explora, crea y aprende con nuestras experiencias prácticas en tecnología</p>
              <a href="#" class="btn btn-outline-light btn-lg rounded border-white">Descubre los Laboratorios →</a>
          </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/imgs/hero3.jpeg" class="d-block w-100" alt="imagens de varias personas">
          <div class="carousel-caption">
              <h1 >Laboratorio IberoSoftware</h1>
              <p >Explora, crea y aprende con nuestras experiencias prácticas en tecnología</p>
              <a href="#" class="btn btn-outline-light btn-lg rounded border-white">Descubre los Laboratorios →</a>
          </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>