@import 'bootstrap/dist/css/bootstrap.min.css';

/* Agregemos un filtro negro a las imaganes */
img {
    filter: brightness(40%);
}



.carousel-caption {
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.carousel-caption h1, .carousel-caption p {
  color: #fff;
}

.carousel-caption h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.carousel-caption button {
  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-caption button:hover {
  background-color: #23527c;
  border-color: #23527c;
}