<section class="thankyou-section">
  <div class="thankyou-flex">
    <div class="thankyou-content">
      <h2>¡Gracias a todos los estudiantes!</h2>
      <p>
        Agradecemos a quienes participaron en el laboratorio y a quienes nos acompañaron viendo las grabaciones por YouTube.<br>
        ¡Su dedicación y entusiasmo hacen crecer la comunidad Ibero Software!
      </p>
    </div>
    <div class="logo-3d">
      <img src="assets/imgs/angular-logo.png" alt="Angular Logo" class="angular-logo">
    </div>
  </div>
</section>
